/* nav ul li a {
    color: black;
}
#logo {
    color: black;
} */

/* #logo_img {
    height: 75px;
}

nav {
    height: 80px;
    line-height: 80px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 80px;
    line-height: 80px;
}

nav .button-collapse i {
    height: 80px;
    line-height: 80px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }
} */
html{
    height: 100%;
    width: 100%;
    position: absolute;
}
main {
    height: auto;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 1%;
    background-color: #cfd8dc;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow:auto;
}

.row .search_row {
    padding: 0;
 }

input::placeholder {
    /* color: black; */
    /* opacity: 1; Firefox */
    font-size: 1.2em;
    font-style: italic;
}

.navbar-fixed
{
    padding-top: 0;
}


/* ravi */
body{
    height: 100%;
    width:100%;
}
.carousel .carousel-item{
    width:auto;
}

/* .tabs-content{height: 100%;} */
/* 
.tabs .tab a{
    color:#0288d1;
} Black color to the text */

.tabs .tab a:hover {
    background-color: lightblue;
    color:rgb(255, 255, 255);
} /*Text color on hover*/

/* .tabs .tab a.active {
    background-color:#0288d1;
    color:#000;
} */
/* .tabs .tab a::after {
    background-color:#0288d1;
    color:#000;
} */
.tabs .indicator {
    background-color:lightblue;
}
.collapsible li.active i {
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

/* ravi */

label {
    font: normal 25px Calibri !important;
}

span {
    font: normal 25px Calibri !important;
}

input {
    height: 54px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#hidden_category {
    display: none;
}