/* nav ul li a {
    color: black;
}
#logo {
    color: black;
} */

/* #logo_img {
    height: 75px;
}

nav {
    height: 80px;
    line-height: 80px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 80px;
    line-height: 80px;
}

nav .button-collapse i {
    height: 80px;
    line-height: 80px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }
} */
html{
    height: 100%;
    width: 100%;
    position: absolute;
}
main {
    height: auto;
    width: auto;
    /* position: absolute; */
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 2%;
    background-color: #cfd8dc;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow:auto;
}

.row .search_row {
    padding: 0;
 }

::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}

.navbar-fixed
{
    padding-top: 0;
}


/* ravi */
body{
    height: 100%;
    width:100%;
}
.carousel .carousel-item{
    width:auto;
}

/* .tabs-content{height: 100%;} */
/* 
.tabs .tab a{
    color:#0288d1;
} Black color to the text */

.tabs .tab a:hover {
    background-color: lightblue;
    color:rgb(255, 255, 255);
} /*Text color on hover*/

/* .tabs .tab a.active {
    background-color:#0288d1;
    color:#000;
} */
/* .tabs .tab a::after {
    background-color:#0288d1;
    color:#000;
} */
.tabs .indicator {
    background-color:lightblue;
}
.collapsible li.active i {
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

/* ravi */