<div class="row">
    <div class="col s3 m2 l2">
        {% if session.logged_in %}
            <a href="#" data-target="slide-out" class="sidenav-trigger btn waves-effect waves-light blue lighten-5 left">
                <i class="material-icons large black-text text-darken-4">keyboard_arrow_right</i>
            </a>
        {% endif %}
    </div>
    <div class="search_row col s1 m1 l1">
        <a class='dropdown-trigger btn-large blue darken-1 right' href='#' data-target='dropdown1'><i class="material-icons">details</i></a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!"><i class="material-icons">person</i>Student</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!"><i class="material-icons">school</i>Professor</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!"><i class="material-icons">home</i>Lab</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!"><i class="material-icons">view_module</i>Field of Interest</a></li>
        </ul>
    </div>
    <div class="search_row col s6 m6 l6">
        <nav class="light-blue lighten-5" style="height:54px">
            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" placeholder="Select Category" style="height: 54px; font-size: 22px" disabled>
                        <label class="label-icon" for="search"><i class="material-icons black-text text-darken-4">search</i></label>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <!-- <div class="col s1 m1"></div> -->

    <div class="search_row col s1 m1 l3">
        <button class="btn-large waves-effect waves-light blue darken-1" type="submit" name="action">
                <i class="material-icons right">search</i>
        </button>
    </div>
 </div>
 
