 <!-- Sidenav starts -->
 {% if session.logged_in %}
 <ul id="slide-out" class="sidenav">
     <li>
         <div class="user-view">
             <div class="background">
                 <img src="{{ url_for('static', filename = 'abstract-blue-background_1048-1511.jpg') }}">
             </div>
             <a href="#user"><img class="circle" src="{{ url_for('static', filename = session.profile_img) }}"></a>
             <span class="white-text name">{{session.name}}</span>
             <marquee><span class="white-text email">{{session.emailid}}</span></marquee>
             {% if session.category == "Student" %}
                <span class="white-text rollnum">{{session.rollno}}</span>
             {% endif %}
         </div>
     </li>
     <li><a href="{{ url_for('trending') }}"><i class="material-icons">trending_up</i>Trending</a></li>
     <li><div class="divider"></div></li>
     <li><a class="modal-trigger" href="#modal1"><i class="material-icons">collections_bookmark</i>My Research Fields</a></li>
     {% for r in my_research_fields %}
        <li><a class="subheader">{{ r }}</a></li>
     {% endfor %}
     <li><div class="divider"></div></li>
     <li><a href="https://www.ieee.org/" target="_blank">IEEE</a></li>
     <li><a href="http://india.acm.org/" target="_blank">ACM</a></li>
     <li><div class="divider"></div></li>
     <li><a class="waves-effect" href="{{ url_for('logout') }}">Logout</a></li>
 </ul>
{% endif %}
<!-- Sidenav ends -->

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <form method="POST" action="{{ url_for('add_research_fields') }}">
        <div class="modal-content">
            <h4>(Un)Select Research Fields</h4>
            {% for r in all_research_fields %}
                <p>
                    <label>
                        {% if r in my_research_fields %}
                            <input type="checkbox" name="field_of_research" value="{{ r }}" checked/>
                        {% else %}
                            <input type="checkbox" name="field_of_research" value="{{ r }}"/>
                        {% endif %}
                        <span style="color: black">{{ r }}</span>
                    </label>
                </p>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light btn-large blue darken-1" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
        </div>
    </form>
</div>