{% extends 'layout.html' %}

{% block body %}

<br>
<div class="row">
    <div class="col l4"></div>
    <div class="col s12 m12 l4">
        <div class="card">
            <div class="card-image" align="center">
                    <img src="{{ url_for('static', filename = student.fname + '.jpg') }}" style="height:180px; width: auto;">
                <!-- <span class="card-title">Card Title</span> -->
            </div>
            <div class="card-content" align="center">
                <p>
                <b><h6>Name: </b>{{student.name}}</h6>
                <b><h6>Email Id: </b>{{student.email}}</h6>
                <b><h6>Research Center: </b>{{student.research_center}}</h6>
                <b><h6>Year of Join: </b>{{student.yearofjoin}}</h6>
                <b><h6 id="student_follow_{{student.rollno}}">Followers: </b>124</h6>
                </p>
            </div>
        </div>
    </div>
</div>
    <div class="col s12 m12 l12">
        <div class="navbar behind_container" style="margin-top:0.5%; z-index:1;">
            <nav class="nav-extended blue darken-1">
                <div class="nav-content">
                    <ul class="tabs tabs-fixed-width tab-demo">
                        <li class="tab col s3"><a class="active" href="#Timeline"><b>Timeline</b></a></li>
                        <li class="tab col s3"><a href="#My_Research"><b>Work</b></a></li>
                        <li class="tab col s3"><a href="#Following"><b>Following</b></a></li>
                        <li class="tab col s3"><a href="#My_Labs"><b>Labs</b></a></li>
                        <li class="tab col s3"><a href="#My_guides"><b>Guides</b></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div id="My_Research" class="col s12" style="overflow:auto;">
        <ul class="collapsible popout">
            {% for i in my_papers %}
                <li>
                    <div class="collapsible-header"><i class="material-icons more">arrow_right</i><b>{{i.title|safe}}</b><span class="new badge" data-badge-caption="">{{i.likes|safe}} Likes</span></div>
                    <div class="collapsible-body" align="justify">
                        
                        Authors: {{i.author|safe}}<br>
                        Conference: {{i.conference|safe}}<br>
                        Date: {{i.date_published|safe}}<br>
                        Report No: {{i.report_no|safe}}<br>
                        Abstract: {{i.abstract|safe}}<br>
                        Full paper: <a href="{{i.pdf}}" download>pdf</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <br>
    </div>
    <div id="Timeline" class="col s12" style="overflow:auto;">
        <ul class="collapsible popout">
            {% for i in following_papers %}
                <li>
                    <div class="collapsible-header"><i class="material-icons more">arrow_right</i><b>{{i.title|safe}}</b><span class="new badge" id="likes_{{i.id}}" data-badge-caption="">{{i.likes|safe}} Likes</span></div>
                    <div class="collapsible-body" align="justify">
                        Authors: {{i.author|safe}}<br>
                        Conference: {{i.conference|safe}}<br>
                        Date: {{i.date_published|safe}}<br>
                        Report No: {{i.report_no|safe}}<br>
                        Abstract: {{i.abstract|safe}}<br>
                        Full paper: <a href="{{i.pdf}}" download>pdf</a><br>
                        <button id="{{ i.id }}" class="follow info" onclick="like_pub(this.id)" value="Like">Like</button>
                    </div>
                </li>
                {% endfor %}
                {% for i in pub_likes %}
                <script type="text/javascript">
                    check_like('{{ i.publicationid}}');
                </script>
                {% endfor %}
        </ul>
        <br>
    </div>
    <div id="Following" class="col s12" style="overflow:auto;">
        {% if profs %}
            <h4 align="center">Professors</h4>
            {% for i in profs %}
                <div class="row">
                    <div class="col s12 m2 l4"></div>
                    <div class="col s12 m8 l4">
                        <div class="card">
                            <div class="card-image" align="center">
                                    <img src="{{ url_for('static', filename = i.fname + '.jpg') }}" style="height:180px; width: auto;">
                                    <!-- <img src="static/profile_images/{{ i.fname + '.jpg' | default('static/profile_images/profile_girl.png') }}" style="height:180px; width: auto;"> -->
                                <!-- <span class="card-title">Card Title</span> -->
                            </div>
                            <div class="card-content">
                                <p>
                                <b><h6>Name: </b>{{i.name}}</h6>
                                <b><h6>Email Id: </b>{{i.email}}</h6>
                                <b><h6>Research Center: </b>{{i.research_center}}</h6>
                                <b><h6>Year of Join: </b>{{i.yearofjoin}}</h6>
                                <b><h6 id="prof_follow_{{i.profid}}">Followers: </b>124</h6>
                                </p>
                            </div>
                            <div class="card-action" align="center">
                                <a href="/professor/{{i.profid}}">Click here to see profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for i in num_profs %}
                <script type="text/javascript">
                set_following_profs('{{ i.followed_profid }}','{{ i.num }}');
                </script>
            {% endfor %}
        {% endif %}

        {% if studs %}
            <h4 align="center">Students</h4>
            {% for i in studs %}
                <div class="row">
                    <div class="col s12 m2 l4"></div>
                        <div class="col s12 m8 l4">
                            <div class="card">
                                <div class="card-image" align="center">
                                        <img src="{{ url_for('static', filename = i.fname + '.jpg') }}" style="height:180px; width: auto;">
                                        <!-- <img src="static/profile_images/{{ i.fname + '.jpg' | default('static/profile_images/profile_girl.png') }}" style="height:180px; width: auto;"> -->
                                    <!-- <span class="card-title">Card Title</span> -->
                                </div>
                            <div class="card-content">
                                <p>
                                <b><h6>Name: </b>{{i.name}}</h6>
                                <b><h6>Roll no: </b>{{i.rollno}}</h6>
                                <b><h6>Email Id: </b>{{i.email}}</h6>
                                <b><h6>Stream: </b>{{i.stream}}</h6>
                                <b><h6>Year of Join: </b>{{i.yearofjoin}}</h6>
                                <b><h6 id="stud_follow_{{i.rollno}}">Followers: </b>124</h6>
                                </p>
                            </div>
                            <div class="card-action" align="center">
                                <a href="/student/{{i.rollno}}">Click here to see profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for i in num_studs %}
                <script type="text/javascript">
                set_following_studs('{{ i.followed_rollno }}','{{ i.num }}');
                </script>
            {% endfor %}
        {% endif %}

        {% if labs %}
            <h4 align="center">Labs</h4>
            {% for i in labs %}
                <div class="row">
                    <div class="col s12 m2 l3"></div>
                        <div class="col s12 m8 l6">
                            <div class="card">
                            <div class="card-content" align="justify">
                                <p>
                                <b><h6>Name: </b>{{i.name}}</h6>
                                <b><h6>Description: </b>{{i.description|safe}}</h6>
                                <b><h6 id="lab_follow_{{i.id}}">Followers: </b>124</h6>
                                </p>
                            </div>
                            <div class="card-action" align="center">
                                <a href="{{i.url}}" target="_blank">Click here to see more info</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for i in num_labs %}
                <script type="text/javascript">
                set_following_labs('{{ i.followed_labid }}','{{ i.num }}');
                </script>
            {% endfor %}
        {% endif %}
    </div>
    <div id="My_Labs" class="col s12" style="overflow:auto;">
        <ul class="collapsible popout">
            <ul class="collapsible popout">
                {% for l in my_labs %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons more">arrow_drop_down</i><b>{{ l.name }}</b><span class="new badge" id='followers_{{ l.id }}' data-badge-caption="">{{l.num_followers|safe}} Followers</span></div>
                        <div class="collapsible-body"><span>{{ l.description|safe }}<button type="button" class="follow info" style="background-color:#343a40; color: white;" onclick="window.open('{{ l.url }}')">More Info</button><button id="{{ l.id }}" class="follow" onclick="follow_lab(this.id)" value="Follow">Follow</button></span></div>
                    </li>
                {% endfor %}
                {% for i in num_lab %}
                    <script type="text/javascript">
                    set_following('{{ i.followed_labid }}','{{ i.num }}');
                    </script>
                {% endfor %}
                {% for j in following_labs %}
                    <script type="text/javascript">
                    checkfollowing('{{ j.labid }}');
                    </script>
                {% endfor %}
            </ul>
        </ul>
        <br>
    </div>

    <div id="My_guides" class="col s12" style="overflow:auto;">
        {% for i in my_student %}
        <div class="row">
            <div class="col s12 m2 l4"></div>
            <div class="col s12 m8 l4">
                <div class="card">
                    <div class="card-image" align="center">
                            <img src="{{ url_for('static', filename = i.fname + '.jpg') }}" style="height:180px; width: auto;">
                        <!-- <span class="card-title">Card Title</span> -->
                    </div>
                    <div class="card-content">
                        <p>
                        <b><h6>Name: </b>{{i.name}}</h6>
                        <b><h6>Email Id: </b>{{i.email}}</h6>
                        <b><h6>Research Center: </b>{{i.research_center}}</h6>
                        <b><h6>Year of Join: </b>{{i.yearofjoin}}</h6>
                        <b><h6 id="myprof_follow_{{i.profid}}">Followers: </b>124</h6>
                        </p>
                    </div>
                    <div class="card-action" align="center">
                        <a href="/professor/{{i.profid}}">Click here to see profile</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% for i in num_profs %}
            <script type="text/javascript">
                set_following_myprofs('{{ i.followed_profid }}','{{ i.num }}');
            </script>
        {% endfor %}
    </div>

{% endblock %}